<div id="addDriverPage">
    <h2>Add driver</h2>
    <p>Here you can add a new driver.</p>

    <br> {{#if success_msg}}
    <div class="alert alert-success">{{success_msg}}</div>
    {{/if}} {{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}

    <script type="text/javascript">
        $(function () {
            $('.datetimepicker').datetimepicker({
                format: 'LL',
                useCurrent: true
            });
        });
    </script>

    <form action="/drivers/create" method="post" class="form-horizontal" id="addDriverForm">
        <div class="form-group">
            <label class="col-md-2 control-label">First name</label>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="First name" name="firstName" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Last name</label>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Last name" name="lastName" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">National ID</label>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="CNP (13 figures)" pattern="[0-9]{13}" maxlength="13" name="nationalId"
                    required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Address</label>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Street, City" name="address" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Email</label>
            <div class="col-md-4">
                <input type="email" class="form-control" placeholder="Email" name="email" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Phone number</label>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="E.g. 0732166222" name="phoneNumber" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">License category</label>
            <div class="col-md-4">
                <select class="form-control" name="category" required>
                    <optgroup label="Mopeds">
                        <option>AM</option>
                        <option>P</option>
                        <option>Q</option>
                    </optgroup>
                    <optgroup label="Motorcycles">
                        <option>A1</option>
                        <option>A2</option>
                        <option>A</option>
                    </optgroup>
                    <optgroup label="Cars and quad bikes">
                        <option>B1</option>
                        <option selected>B</option>
                        <option>BE</option>
                    </optgroup>
                    <optgroup label="Medium-sized vehicles">
                        <option>C1</option>
                        <option>C1E</option>
                    </optgroup>
                    <optgroup label="Large vehicles">
                        <option>C</option>
                        <option>CE</option>
                    </optgroup>
                    <optgroup label="Minibuses">
                        <option>D1</option>
                        <option>D1E</option>
                    </optgroup>
                    <optgroup label="Buses">
                        <option>D</option>
                        <option>DE</option>
                    </optgroup>
                    <optgroup label="Other categories">
                        <option>Tr</option>
                        <option>Tb</option>
                        <option>TV</option>
                        <option>f</option>
                        <option>G</option>
                        <option>H</option>
                        <option>k</option>
                        <option>l</option>
                        <option>M</option>
                        <option>n</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Category expiry date</label>
            <div class="col-md-4">
                <input type='text' class="form-control datetimepicker" placeholder="Click to select" name="expiryDate" required>
            </div>
        </div>
        <div class="form-group" align="center">
            <div class="col-md-6">
                <button type="button" class="btn" id="addCategory">Add category</button>
            </div>
        </div>
        <br>
        <div class="form-group" align="center">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success" id="addDriverButton">Submit</button>
            </div>
        </div>
    </form>
    <br>
</div>