<div id="homePage">
</div>

<div id="driversPage" style="display: none">
    <h2>Drivers Page</h2>
    <p>Here you can view all registered drivers.</p>

    <br>

    <table class="table table-condensed" id="driversTable">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>ID</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Distance traveled</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="addDriverPage" style="display: none">
    <h2>Add driver</h2>
    <p>Here you can add a new driver.</p>

    <br>

    <form class="form-horizontal" id="addDriverForm" onsubmit="addDriver(); return false;">
        <div class="form-group">
            <label class="col-md-2 control-label">First name</label>
            <div class="col-md-4" id="addDriverFirstName">
                <input type="text" class="form-control" placeholder="First name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Last name</label>
            <div class="col-md-4" id="addDriverLastName">
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">ID</label>
            <div class="col-md-4" id="addDriverID">
                <input type="text" class="form-control" placeholder="CNP (13 figures)">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Address</label>
            <div class="col-md-4" id="addDriverAddress">
                <input type="text" class="form-control" placeholder="Street, City">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Email</label>
            <div class="col-md-4" id="addDriverEmail">
                <input type="text" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Phone number</label>
            <div class="col-md-4" id="addDriverPhoneNumber">
                <input type="text" class="form-control" placeholder="E.g. 0732166222">
            </div>
        </div>

        <br>

        <button class="col-md-offset-2 btn btn-default" id="addDriverButton">Submit</button>
    </form>

    <br>

</div>

<div id="vehiclesPage" style="display: none">
    <h2>Vehicles Page</h2>
    <p>Here you can view all registered vehicles.</p>

    <br>

    <table class="table table-condensed" id="vehiclesTable">
        <thead>
            <tr>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Registration plate</th>
                <th>VIN</th>
                <th>Engine capacity</th>
                <th>Fuel type</th>
                <th>Horsepower</th>
                <th>Fuel consumption</th>
                <th>Kilometrage</th>
                <th>View trips</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div id="addVehiclePage" style="display: none">
    <h2>Add vehicle</h2>
    <p>Here you can add a new vehicle.</p>

    <br>

    <form class="form-horizontal" id="addVehicleForm" onsubmit="addVehicle(); return false;">
        <div class="form-group">
            <label class="col-md-2 control-label">Manufacturer</label>
            <div class="col-md-4" id="addVehicleManufacturer">
                <input type="text" class="form-control" placeholder="Manufacturer">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Model</label>
            <div class="col-md-4" id="addVehicleModel">
                <input type="text" class="form-control" placeholder="Model">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Registration plate</label>
            <div class="col-md-4" id="addVehicleRegistrationPlate">
                <input type="text" class="form-control" placeholder="E.g. B 01 ABC">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">VIN</label>
            <div class="col-md-4" id="addVehicleVIN">
                <input type="text" class="form-control" placeholder="E.g. VF7FCK6EK8A001151">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Engine capacity</label>
            <div class="col-md-4" id="addVehicleEngineCapacity">
                <input type="text" class="form-control" placeholder="E.g. 1200">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Fuel type</label>
            <div class="col-md-4" id="addVehicleFuelType">
                <input type="text" class="form-control" placeholder="E.g. Petrol">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Horsepower</label>
            <div class="col-md-4" id="addVehicleHorsepower">
                <input type="text" class="form-control" placeholder="Horsepower">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Fuel consumption</label>
            <div class="col-md-4" id="addVehicleFuelConsumption">
                <input type="text" class="form-control" placeholder="E.g. 6.5">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Kilometrage</label>
            <div class="col-md-4" id="addVehicleKilometrage">
                <input type="text" class="form-control" placeholder="E.g. 65000">
            </div>
        </div>

        <br>

        <button class="col-md-offset-2 btn btn-default" id="addVehicleButton">Submit</button>
    </form>

    <br>

</div>

<div id="viewVehicleTripsPage" style="display: none">
    <h2>Vehicle Trips Page</h2>
    <p>Here you can view vehicle trips.</p>

    <br>

    <table class="table table-condensed" id="tripsTable">
        <thead>
            <tr>
                <th>Driver</th>
                <th>Start date</th>
                <th>Start location</th>
                <th>Stop date</th>
                <th>Stop location</th>
                <th>Trip distance</th>
                <th>Trips</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="modal" id="viewTripModal" tabindex="-1" role="dialog" aria-labelledby="view-trip" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    <h4 class="modal-title custom_align" id="Heading">Vehicle Trip</h4>
                </div>
                <div class="modal-body">
                    <div id="mapCanvas"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success center-block" data-dismiss="modal" aign="center"><span></span>Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="reportsPage" style="display: none">
    <h2>Reports Page</h2>
    <p>Here you view custom reports.</p>

    <br>

    <div class="col-md-6 bd-callout">
        <p>
            <i>Distance traveled by vehicle: </i>
            <span id="reportsVehicleDistanceTraveled"></span>
            <span> km</span>
        </p>
        <select class="reports-vehicle-registration-plate" id="reportsVehicleRegistrationPlate"></select>

        <br><br>

        <p>From date:</p>
        <div class="form-group">
            <div class='input-group date' id='reportsVehicleStartDate'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <p>To date:</p>
        <div class="form-group">
            <div class='input-group date' id='reportsVehicleStopDate'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-6 bd-callout">
        <p>
            <i>Distance traveled by driver: </i>
            <span id="reportsDriverDistanceTraveled"></span>
            <span> km</span>
        </p>
        <select class="reports-driver-name" id="reportsDriverName"></select>

        <br><br>

        <p>From date:</p>
        <div class="form-group">
            <div class='input-group date' id='reportsDriverStartDate'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <p>To date:</p>
        <div class="form-group">
            <div class='input-group date' id='reportsDriverStopDate'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>

<br>

<!--
<footer class="footer">
    <p>&copy; 2017 FleetManagement, Inc.</p>
</footer>
-->
