html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: verdana;
}

.nav-side-menu {
    font-size: 14px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0px;
    color: #e1ffff;
}

.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 16px;
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
}

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}

.nav-side-menu li a,
.nav-side-menu ul a {
    text-decoration: none;
    color: #e1ffff;
}

.nav-side-menu li a i,
.nav-side-menu ul a li i{
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}

.nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.container-fluid {
    height: 100%;
}

.operations {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        /*margin-bottom: 10px;*/
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
    table#driversTable,
    table#vehiclesTable,
    table#tripsTable {
        border: 0;
    }
    table#driversTable thead,
    table#vehiclesTable thead,
    table#tripsTable thead {
        display: none;
    }
    table#driversTable tr,
    table#vehiclesTable tr,
    table#tripsTable tr {
        margin-bottom: 25px;
        display: block;
        
        border-bottom: 2px solid #d19b3d;
    }
    table#driversTable td,
    table#vehiclesTable td,
    table#tripsTable td {
        display: block;
        text-align: right;
        font-size: 14px;
    }
    table#driversTable td:before,
    table#vehiclesTable td:before,
    table#tripsTable td:before {
        content: attr(data-label);
        float: left;
        /*text-transform: uppercase;*/
        font-weight: bold;
    }
    #homePage {
        background-image: url(../images/FleetManagementCloud.jpg);
        height: 100%;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: -20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (min-width: 768px) {
    .nav-side-menu {
        height: 100%;
        width: 230px;
    }
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
    .container-fluid {
        margin-left: 230px;
    }
    table {
        border: 1px solid #ccc;
        width: 100%;
        margin: 0;
        padding: 0;
        border-collapse: collapse;
        border-spacing: 0;
    }
    table tr {
        margin-bottom: 5px;
        border: 1px solid #ddd;
        padding: 5px;
    }
    table th,
    table td {
        padding: 15px;
        text-align: center;
    }
    table th {
        font-size: 14px;
        letter-spacing: 1px;
    }
    #homePage {
        background-image: url(../images/FMSBackground.jpg);
        height: 100%;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: -20px;
        background-position: 50% 30%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

#mapCanvas, #liveMapCanvas {
    height: 400px;
    width: auto;
}

.reports-vehicle-registration-plate,
.reports-driver-name {
    width: 300px;
}

.reports-date-time {
    width: 265px;
}

#reportsVehicleDistanceTraveled,
#reportsDriverDistanceTraveled {
    font-size: 15px;
    color: #4CAF50;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 2.25rem;
    border-left: 3px solid #5bc0de;
    border-left-width: .25rem;
    border-radius: .5rem;
}

.form {
    width: 400px;
}

.expire-alert {
    color: #FF0000;
}

.table-header {
    background-color: #82cfe5
}